@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lifestyle Checker App</h1>
    
    <p>Click here <a href="./ClientInput/">to use the app and provide your details.</a>.</p>



</div>
